/*
 Theme Name:   Hestia Child
 Theme URI:    null
 Description:  Thème enfant de HEstia
 Author:       Anton
 Author URI:   null
 Template:     hestia
 Version:      1.0.0
*/

/* import default parent styles */
@import url("../hestia/style.css");

.header-filter-gradient {
    background: linear-gradient(45deg, rgb(186 115 168) 0%, rgb(234,57,111) 100%);
}

.carousel .page-header {
    min-height: 100vh !important;
    margin-top: 0;
}
.navbar.navbar-not-transparent{
	background: linear-gradient( 45deg ,#32325d,#f17851);
    color: white;
}
@media (max-width: 768px) {
	.navbar-default.navbar-not-transparent .navbar-nav>li>a {
	color: 	black !important;
}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar .navbar-nav .dropdown .dropdown-menu li a:hover, .navbar .navbar-nav .dropdown .dropdown-menu li a:focus, .navbar button.navbar-toggle:hover, .navbar .navbar-nav li:hover > a i {
    color: white !important;
}
}

@media (min-width: 769px) {

.navbar.navbar-not-transparent .btn-round{
	background: white;
}
.navbar.navbar-not-transparent .btn-round a{
	color: black !important;
}

.navbar-default {
     border: none;
}

.navbar-default.navbar-transparent .navbar-nav>li>a {
	color: 	white !important;
}
}
.main.main-raised{
	margin:0px !important;
} 

.hestia-ribbon,.hestia-about, .hestia-subscribe {
    padding: 150px 0 30px;
}

.hestia-contact-title-area .description{
	font-size:17px;
}
.hestia-subscribe-button{
	display:none;
}

.hestia-subscribe{
	background-position: center center !important;
    background-attachment: fixed;
}

/** Style des bouttons*/
button, button:hover, .woocommerce .track_order button[type="submit"], .woocommerce .track_order button[type="submit"]:hover, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit:hover, input[type="button"], input[type="button"]:hover, input[type="submit"], input[type="submit"]:hover, input#searchsubmit, .pagination span.current, .pagination span.current:focus, .pagination span.current:hover, .btn.btn-primary, .btn.btn-primary:link, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .hestia-sidebar-open.btn.btn-rose, .hestia-sidebar-close.btn.btn-rose, .hestia-sidebar-open.btn.btn-rose:hover, .hestia-sidebar-close.btn.btn-rose:hover, .hestia-sidebar-open.btn.btn-rose:focus, .hestia-sidebar-close.btn.btn-rose:focus, .label.label-primary, .hestia-work .portfolio-item:nth-child(6n+1) .label, .nav-cart .nav-cart-content .widget .buttons .button, .has-accent-background-color[class*="has-background"]{
	background: linear-gradient(45deg,#32325d,#f17851);
}
.navbar-not-transparent .btn.btn-primary:hover,.navbar-not-transparent .btn.btn-primary:focus,.navbar-not-transparent  .btn.btn-primary:active,.navbar-not-transparent .btn.btn-primary.active{
	background: rgba(255,255,255,0.9)!important;
}

body:not(.woocommerce-page) .button:not([class^="fl-"]):not(.hestia-scroll-to-top):not(.navbar-toggle):not(.add_to_cart_button):hover, body:not(.woocommerce-page) button:not([class^="fl-"]):not(.hestia-scroll-to-top):not(.navbar-toggle):not(.close):hover, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit:hover, input[type="submit"]:hover, input[type="button"]:hover, input#searchsubmit:hover, .widget_product_search button[type="submit"]:hover, .pagination span.current, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .hestia-sidebar-open.btn.btn-rose:hover, .hestia-sidebar-close.btn.btn-rose:hover, .pagination span.current:hover, .everest-forms button[type=submit].everest-forms-submit-button:hover, .everest-forms button[type=submit].everest-forms-submit-button:focus, .everest-forms button[type=submit].everest-forms-submit-button:active {
    -webkit-box-shadow: 0 14px 26px -12px rgb(50 50 93 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(241 120 81 / 80%);
    box-shadow: 0 14px 26px -12px rgb(50 50 93 / 42%), 0 4px 23px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(241 120 81 / 80%);
    color: #fff;
}
h2.hestia-title{
	position:relative;
}
h2.hestia-title::after {
	content: "";
    position: absolute;
    bottom: 2px;
    left: 20%;
    height: 2px;
    width: 60%;
    background: linear-gradient(to right, transparent 0%, #32325d 25%,#f17851 50%, transparent 100%);
}

.navbar:not(.navbar-transparent) li:not(.btn):hover > a, .navbar li.on-section:not(.btn) > a, .navbar.full-screen-menu.navbar-transparent li:not(.btn):hover > a, .navbar.full-screen-menu .navbar-toggle:hover, .navbar:not(.navbar-transparent) .nav-cart:hover, .navbar:not(.navbar-transparent) .hestia-toggle-search:hover{
	 color: white !important;
}

body:not(.home) .navbar-default .navbar-nav > .active:not(.btn) > a{
	color:white !important;
	font-weight:bold;
}
.btn.btn-primary{
	border-radius:30px !important;
}

.card .card-image, .card-no-width .card-image, .card .header, .card-no-width .header, .card-profile .card-avatar, .card-testimonial .card-avatar img, .card-raised, .img-raised, .iframe-container iframe {
	box-shadow:none !important;
}

.hestia-team-content .card-image{
	background: linear-gradient( 
45deg
 ,#32325d,#f17851);
    border-radius: 50% !important;
    height: 150px !important;
    width: 150px !important;
    overflow: unset !important;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
	.hestia-team-content .card-image{
	margin-left: 20px !important;
}
}

.hestia-team-content .card-image img{
	position: absolute;
    right: 30px;
    top: -40px;
    width: 90% !important;
    height: unset !important;
}

.form-group.is-focused .form-control {
    background-image: -webkit-gradient(linear,left top, left bottom,from(#32325d),to(#f17851)),-webkit-gradient(linear,left top, left bottom,from(#32325d),to(#f17851));
}